<div class="table-responsive" style="height: 250px">
  <table class="table">
    <thead>
      <tr>
          <th class="text-center">#</th>
          <th class="text-center">Completed</th>
          <th class="text-center">UserId</th>
          <th class="text-center">Title</th>
          <th class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data; let i = index">
          <td>{{d.id}}</td>
          <td>{{d.completed}}</td>
          <td>{{d.userId}}</td>
          <td>{{d.title}}</td>
          <td>
            <button (click)="trashUser(d.id)">Trash</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>